{% extends "VivaShopBundle:Layouts:admin.main.twig" %}

{% block title %} | Delete a category{% endblock %}

{% block content %}
<h3>Are you sure you want to delete the "{{ category.name }}" category?</h3>
{% endblock %}
