<!DOCTYPE html>
<html>
    <head>
        <title>VivaShop Admin {% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.css') }}">
    </head>
    <body>

        <div class="container-fluid">
            
            {% include 'VivaShopBundle:Layouts:admin.navbar.twig' %}
            
            <div class="row">
                <div class="span9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>      




                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>
            </body>
        </html>